# ---- Virtual environments ----
yolov8n_env/
venv/

# ---- Python cache ----
__pycache__/
*.pyc

# ---- YOLO outputs ----
runs/
*.pt

# ---- Datasets & samples ----
my_dataset/
sample_test_img/
sample_test_vid/

# ---- OS ----
Thumbs.db
.DS_Store
